@tailwind base;
@tailwind components;
@tailwind utilities;

.subscribe{
    background: linear-gradient(348.49deg, #0F172A -55.69%, #29274A 91.54%);
}

.slick-dots li button:before{
    color : #9C9C9C !important;
    font-size: 10px !important;
    border-radius: 50px;
}

.slick-prev{
    left: -3rem;
    width: 35px !important;
    height: 30px !important;
}

.slick-next{
    right: -3rem;
    width: 35px !important;
    height: 30px !important;
}
.slick-prev:before{
    font-size: 25px;
}
.slick-next:before{
    font-size: 25px;
}

.slick-dots{
    bottom: -30px;
}

.rounded-chart-container path.apexcharts-bar-area {
    border-radius: 10px; /* Set the border radius to achieve the desired rounded appearance */
  }